@import "./theme.scss";

.content{
    margin: 60px 135px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100vw - (2*135px));
    column-gap: 40px;
    row-gap: 30px;
    align-content: stretch;
    max-height: 1000px;

    @media only screen and (max-width: 1100px)  {
        max-height: none;
        width: calc(100vw - (2*30px));
        margin: 30px 30px;
        width: calc(100vw - (2*70px));
        flex-direction: column-reverse;
    }

    @media only screen and (min-width: 1100px)  {
        :nth-child(n+4){
            max-width: calc((100vw * 0.45) - (2* 135px));
        }
    }

    .info{
        background-color: #F0F3F3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px;

        &.dark{
            background-color: #252525;
        }

        span{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            @media only screen and (max-width: 1100px)  {
                font-size: 14px;
                p{
                    max-width: 60%;
                }
            }
            
            &.split{
                background-color: #DBDBDB;
                height: 2px;
                width: 100%;

                &.dark{
                    background-color: #DBDBDB;
                }
            }

            .time{
                color: #FA9E33;
                text-align: right;
            }
        }

        #status-bar{
            height: 6px;
            overflow: hidden;
            width: 100%;
            background-color: #DBDBDB;
            border-radius: 30px;

            span{
                background-color: $l-primary;
                height: 100%;
            }
        }
    }
}